#game{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  #game-logo{
    img{
      max-width: 100%;
      max-height: 50vh;
      object-fit: contain;
    }
  }

  .header-container{
    display: flex;
    align-items: center;
    .current-sum{
      font-size: 20px;
      .sum{
        font-size: 30px;
      }
    }
  }

  .question-container{
    width: calc(100% - 40px);
      .question{
        font-size: 18px;
      }
  }

  .variants{
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;

    button{
      font-size: 20px;
      padding: 8px 15px;
      border-radius: 8px;
      background: none;
      border: 2px solid white;
      color: white;
      cursor: pointer;
      transition: 200ms;

      &:hover{
        color: black;
        background-color: white;
        border-color: black
      }
    }
  }
}
