#main {
  #main-image {
    max-height: 60vh;
    max-width: 100%;
    object-fit: contain;
  }

  .buttons {
    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
