#auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;

  form {
    width: 100%;

    &>label{
      &:has(input[type='radio']){
        p{
          grid-column: span 5;
        }
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(5,1fr);

        label{
          box-sizing: border-box;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          cursor: pointer;
          font-size: 22px;
          border: 2px solid #797979;
          padding: 5px 10px;
          gap: 5px;
          border-radius: 8px;

          &:has(input:checked){
            border: 2px solid white;
          }

          input{
            width: fit-content;
            margin: 0;
          }
        }
      }

    }

    &>label:has(input[type='checkbox']){
      display: flex;
      gap: 20px;
      justify-content: space-around;
      label{
        display: flex;
        align-items: center;
        min-width: max-content;
        font-size: 22px;
        border: 2px solid #797979;
        padding: 5px 10px;
        gap: 5px;
        border-radius: 8px;

        &:has(input:checked){
          border: 2px solid white;
        }

        input{
          width: fit-content;
        }


      }
    }


    input {
      width: 100%;
      padding: 8px 15px;
      font-size: 18px;
      border-radius: 8px;
      color: white;
      background: none;
      border: 2px solid white;
      outline: none;
    }

    input[type='submit'] {
      width: fit-content;
      margin: 0 auto;
      transition: 200ms;

      &:hover {
        background-color: white;
        color: black;
      }
    }

    .error-message {
      text-decoration: underline;

    }

    label {
      width: 100%;
    }
  }
}
